
.single-container
  = render 'shared/single_header'

  .single-main
    .single-panel
      .single-panel__sign-up
        %h2 購入を確定しますか？

      .purchase-box
        .purchase-box__inner
          .purchase-box__image
            = image_tag @product.images.first.image_url
          .purchase-box__name
            = @product.name

          .purchase-box__prices
            %p
              ￥ #{@product.price.to_s(:delimited)}
              %span #{@product.shipping_fee_charges_on_i18n}
            .no-point ポイントはありません
            .purchase-box__price
              .purchase-box__price__left 支払い金額
              .purchase-box__price__right
                %span
                  ￥ #{@product.price.to_s(:delimited)}
            = link_to "購入する", product_purchase_index_path, class: "purchase-box__purchase-btn", method: :post

      .purchase-box__user-info
        .purchase-box__user-content
          %h3.purchase-box__user-content__head 配送先
          .purchase-box__user-content__address
            = current_user.address.zipcode
            %br #{current_user.address.prefecture} #{current_user.address.city} #{current_user.address.block_number} #{current_user.address.building_name}
            = current_user.address.full_name
          = link_to "", class: "purchase-box__edit" do
            %span 変更する
            = fa_icon "chevron-right"

      .purchase-box__user-info
        .purchase-box__user-content
          .purchase-box__user-content__head
            %h3.purchase-box__user-content__head 支払い方法
            .purchase-box__user-content__address
              クレジットカード
            = link_to "", class: "purchase-box__edit" do
              %span 変更する
              = fa_icon "chevron-right"

  = render 'shared/single_footer'
